@import './global';

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 90px;
  border-radius: 2.5px;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--secondary-bg-color);
  box-shadow: $primary-box-shadow;
  cursor: pointer;
}

.btn {
  @include btn();
  &-back {
    margin: 30px 0 30px 5%;
    column-gap: 7px;
    .left-arrow-icon {
      display: inline-block;
      min-width: 20px;
      min-height: 20px;
      background-image: var(--left-arrow-icon);
      background-size: contain;
    }
  }
  &.md {
    &:active {
      transform: none;
    }
    width: 100px;
    height: 30px;
    padding: 0 10px;
    font-size: 1.6rem;
    box-shadow: $secondary-box-shadow;
  }
  &:active {
    transform: scale(0.95);
    transition: all ease 0.15s;
  }
}
