@import './global';

@mixin verticalAlignment {
  display: flex;
  flex-direction: column;
}

.country-card {
  display: grid;
  max-width: 750px;
  margin: 0 auto;
  row-gap: 20px;
  text-transform: capitalize;
  &.preview {
    width: 250px;
    margin: 0;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    img {
      height: 150px;
      object-fit: cover;
    }
    .content {
      .title {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      padding: 0 5% 20px 5%;
      row-gap: 10px;
    }
  }
  img {
    width: 100%;
  }
  .content {
    @include verticalAlignment();
    row-gap: 20px;
    .title {
      font-family: $secondary-font;
      font-size: 2rem;
    }
    .item {
      margin-bottom: 12px;
      font-weight: 300;
    }
    .key {
      font-weight: 400;
    }
    .info-container {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .info {
        list-style: none;
        font-size: 1.3rem;
      }
    }
    .border-countries {
      @include verticalAlignment();
      row-gap: 15px;
      span {
        font-size: 1.5rem;
      }
    }
  }
  .btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
  }
}

@media (min-width: 768px) {
  .country-card {
    .content {
      .info-container {
        flex-direction: row;
        column-gap: 40px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .country-card.detail {
    max-width: 1000px;
    grid-template-columns: 50% 1fr;
    gap: 0 5%;
    .content {
      justify-content: center;
    }
  }
}
