@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: 'PrimaSans';
  src: url('/src/assets/fonts/prima-sans-bold.otf') format('opentype');
}

//Light colors
$primary-bg-color: #fafafa;
$secondary-bg-color: #ffffff;
$main-text-color: #131416;
$main-shadow-color: #868686;

//Dark colors
$primary-bg-color--dark: #202d36;
$secondary-bg-color--dark: #2b3743;
$main-text-color--dark: #ffffff;
$main-shadow-color--dark: #000000;

//Fonts
$main-font: 'Roboto';
$secondary-font: 'PrimaSans';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

html {
  font-size: 62.5%;
}

body {
  --main-bg-color: #{$primary-bg-color};
  --secondary-bg-color: #{$secondary-bg-color};
  --main-text-color: #{$main-text-color};
  --main-shadow-color: #{$main-shadow-color};
}

body[data-theme='dark'] {
  --main-bg-color: #{$primary-bg-color--dark};
  --secondary-bg-color: #{$secondary-bg-color--dark};
  --main-text-color: #{$main-text-color--dark};
  --main-shadow-color: #{$main-shadow-color--dark};
}
