@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: 'PrimaSans';
  src: url("/src/assets/fonts/prima-sans-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #ffffff;
  --main-text-color: #131416;
  --main-shadow-color: #868686;
  --dark-mode-icon: url("../assets/icons/dark_mode_black_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_black_24dp.svg");
}

body[data-theme='dark'] {
  --main-bg-color: #202d36;
  --secondary-bg-color: #2b3743;
  --main-text-color: #ffffff;
  --main-shadow-color: #000000;
  --dark-mode-icon: url("../assets/icons/dark_mode_white_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_white_24dp.svg");
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-bg-color);
}

.header .title {
  font-family: 'PrimaSans';
}

.header .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  border: 0;
  font-size: 1.6rem;
  cursor: pointer;
  color: var(--main-text-color);
  background-color: transparent;
}

.header .switch .dark-mode-icon {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-image: var(--dark-mode-icon);
  background-size: contain;
}

@font-face {
  font-family: 'PrimaSans';
  src: url("/src/assets/fonts/prima-sans-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #ffffff;
  --main-text-color: #131416;
  --main-shadow-color: #868686;
  --dark-mode-icon: url("../assets/icons/dark_mode_black_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_black_24dp.svg");
}

body[data-theme='dark'] {
  --main-bg-color: #202d36;
  --secondary-bg-color: #2b3743;
  --main-text-color: #ffffff;
  --main-shadow-color: #000000;
  --dark-mode-icon: url("../assets/icons/dark_mode_white_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_white_24dp.svg");
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 24px;
  min-width: 90px;
  border-radius: 2.5px;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  color: var(--main-text-color);
  background-color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 7px -3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-back {
  margin: 30px 0 30px 5%;
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

.btn-back .left-arrow-icon {
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  background-image: var(--left-arrow-icon);
  background-size: contain;
}

.btn.md {
  width: 100px;
  height: 30px;
  padding: 0 10px;
  font-size: 1.6rem;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.btn.md:active {
  -webkit-transform: none;
          transform: none;
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}

@font-face {
  font-family: 'PrimaSans';
  src: url("/src/assets/fonts/prima-sans-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #ffffff;
  --main-text-color: #131416;
  --main-shadow-color: #868686;
  --dark-mode-icon: url("../assets/icons/dark_mode_black_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_black_24dp.svg");
}

body[data-theme='dark'] {
  --main-bg-color: #202d36;
  --secondary-bg-color: #2b3743;
  --main-text-color: #ffffff;
  --main-shadow-color: #000000;
  --dark-mode-icon: url("../assets/icons/dark_mode_white_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_white_24dp.svg");
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.country-card {
  display: -ms-grid;
  display: grid;
  max-width: 750px;
  margin: 0 auto;
  row-gap: 20px;
  color: var(--main-text-color);
  text-decoration: none;
  text-transform: capitalize;
  cursor: default;
}

.country-card.preview {
  width: 250px;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.country-card.preview img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.country-card.preview .content {
  padding: 0 5% 20px 5%;
  row-gap: 10px;
}

.country-card.preview .content .title {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.country-card.detail {
  padding: 0 5%;
}

.country-card img {
  width: 100%;
}

.country-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.country-card .content .title {
  font-family: "PrimaSans";
  font-size: 2rem;
}

.country-card .content .item {
  margin-bottom: 12px;
  font-weight: 300;
}

.country-card .content .key {
  font-weight: 400;
}

.country-card .content .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.country-card .content .info-container .info {
  list-style: none;
  font-size: 1.3rem;
}

.country-card .content .border-countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.country-card .content .border-countries span {
  font-size: 1.5rem;
}

.country-card .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7px;
}

@media (min-width: 768px) {
  .country-card .content .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (min-width: 1024px) {
  .country-card.detail {
    max-width: 1000px;
    padding: 0;
    -ms-grid-columns: 50% 1fr;
        grid-template-columns: 50% 1fr;
    gap: 0 5%;
  }
  .country-card.detail .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@font-face {
  font-family: 'PrimaSans';
  src: url("/src/assets/fonts/prima-sans-bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 62.5%;
}

:root {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #ffffff;
  --main-text-color: #131416;
  --main-shadow-color: #868686;
  --dark-mode-icon: url("../assets/icons/dark_mode_black_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_black_24dp.svg");
}

body[data-theme='dark'] {
  --main-bg-color: #202d36;
  --secondary-bg-color: #2b3743;
  --main-text-color: #ffffff;
  --main-shadow-color: #000000;
  --dark-mode-icon: url("../assets/icons/dark_mode_white_24dp.svg");
  --left-arrow-icon: url("../assets/icons/west_white_24dp.svg");
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.countries-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
/*# sourceMappingURL=index.css.map */